body {
  background-color: #AED9E0;
  text-align: left;
  padding-inline: 20px;
  font-size: 16px;
  padding-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.icon {
  width: 150px;
  height: 150px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

.project-card {
  width: 40%; /* Adjust the width of the project cards */
  margin: 25px; /* Add margin between project cards */
  border: none; /* Remove border */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 10px; /* Add padding to project cards */
  text-align: center; /* Center the content horizontally */
  cursor: pointer; /* Change cursor to pointer on hover */
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.project-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.project-title {
  font-size: 20px; /* Change the font size for project titles */
}

.project-description {
  font-size: 15px;
  margin-bottom: 25px;
}

.project-image {
  width: 25%; /* Adjust the width of the project images */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block; /* Ensure image is centered within its container */
  margin: 0 auto; /* Center the image horizontally */
}