/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the body */
body {
  font-family: 'Times New Roman';
  line-height: 1.6;
  background-color: #AED9E0;
  color: #000000;
  margin: 0; /* Reset margin */
  padding: 20px; /* Add padding to everything */
}

/* Container class to center content and provide padding */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-text {
  text-align: center;
}

.main-header {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #000000; /* White text color */
}

.portfolio-title {
  font-size: 1.5rem;
  color: #000000; /* White text color */
}

/* Main sections styling */
main {
  padding-top: 20px; /* Add padding to top */
  padding-right: 0; /* No padding to right */
  padding-bottom: 20px; /* Add padding to bottom */
  padding-left: 0; /* No padding to left */
}

.about-me,
.contact,
.my-degrees {
  margin-bottom: 20px;
}



.my-degrees {
  margin-left: 40px; /* Adjust indentation */
}

.my-degrees li {
  margin-bottom: 10px;
}

.my-degrees li a {
  text-decoration: none;
  color: #007BFF;
}

.my-degrees li a:hover {
  text-decoration: underline;
}

/* Project card styling */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
}

.project-card {
  width: 40%; /* Adjust the width of the project cards */
  margin: 25px; /* Add margin between project cards */
  border: none; /* Remove border */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 10px; /* Add padding to project cards */
  text-align: center; /* Center the content horizontally */
  cursor: pointer; /* Change cursor to pointer on hover */
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  transition: transform 0.2s ease; /* Add transition effect */
}

.project-card:hover {
  transform: translateY(-5px); /* Move the card up slightly on hover */
}

.project-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.project-title {
  font-size: 20px; /* Change the font size for project titles */
}

.project-description {
  font-size: 15px;
  margin-bottom: 25px;
}

.project-image {
  width: 25%; /* Adjust the width of the project images */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block; /* Ensure image is centered within its container */
  margin: 0 auto; /* Center the image horizontally */
}

/* Footer styling */
footer {
  color: #000000;
  padding: 20px 0;
  text-align: center;
}